@use "../utils/" as *;

.footer {
  display: grid;
  padding-top: rem(46);
  padding-left: rem(132);
  padding-right: rem(158);
  padding-bottom: rem(40);
  grid-template-columns: 1fr 1fr 1fr 3fr;
  column-gap: rem(115);
  height: rem(192);
  width: 100vw;
  background-color: var(--darkblue);
  p {
    margin-top: rem(15);
    font-size: rem(14);
  }

  img {
    margin-bottom: rem(50);
  }

  &__sub {
    img {
      margin-right: rem(10);
    }
  }
  &__last {
    a {
      float: right;
    }
    p {
      margin-top: rem(27);
      float: right;
    }
  }
}
