@use "../utils/" as *;

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: rem(25);
  width: 100vw;
  height: rem(659);
  background-color: var(--white);
  padding-top: rem(93);
  padding-left: rem(162);
  padding-right: rem(162);
  padding-bottom: rem(103);
  @include breakpoint-down(small) {
    display: flex;
    flex-direction: column;
    height: rem(1844);
    justify-items: center;
    padding-left: rem(50);
    padding-right: rem(50);
  }
  h2 {
    font-weight: 300;
    color: var(--darkblue);
  }
  h5 {
    font-size: rem(10);
    font-weight: 100;
    margin-top: rem(25);
  }
  h4 {
    font-weight: 100;
    color: var(--darkblue);
    margin-top: rem(18);
  }
  p {
    font-size: rem(13);
    margin-top: rem(12);
    text-align: justify;
    @include breakpoint-down(small) {
      br {
        display: none;
      }
    }
  }
  img {
    width: rem(256);
    height: rem(199);
    border-radius: 2%;
    @include breakpoint-down(small) {
      width: rem(401);
    }
  }
  &__desc {
    grid-column: 1/5;
    grid-row: 1/1.5;
  }
}
